langchain
langchain_community
langchain_openai
langchain_huggingface
langchain_text_splitters
langchain_chroma

ipykernel
python_dotenv
pypdf
bs4
arxiv
pymupdf
wikipedia
chromadb
sentence_transformers
faiss_cpu
tqdm

flask
flask_sqlalchemy
flask_jwt_extended
werkzeug
sqlalchemy
flask_migrate
GitPython
ollama