langchain
ipykernel
python-dotenv
langchain_community
pypdf
bs4
arxiv
pymupdf
wikipedia
langchain-text-splitters
langchain-openai
chromadb
sentence_transformers
langchain_huggingface
tqdm
faiss-cpu
langchain_chroma
faiss-gpu
flask
flask_sqlachemy
flask_jwt_extended
werkzeug
sqlalchemy