langchain
langchain-community
langchain-openai
langchain-huggingface
langchain-text-splitters
langchain-chroma

ipykernel
python-dotenv
pypdf
bs4
arxiv
pymupdf
wikipedia
chromadb
sentence-transformers
faiss-cpu
tqdm

flask
flask-sqlalchemy
flask-jwt-extended
werkzeug
sqlalchemy
flask_migrate
GitPython